#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PROJECT_VERSIONINFO
 PRODUCTVERSION PROJECT_VERSIONINFO
 FILEFLAGSMASK 0x3fL
#ifndef NDEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", VERSIONINFO_COMPANY
            VALUE "FileDescription", VERSIONINFO_DESCRIPTION
            VALUE "FileVersion", VERSIONINFO_FILE_VERSION
            VALUE "LegalCopyright", VERSIONINFO_COPYRIGHT
            VALUE "ProductName", VERSIONINFO_PRODUCT_NAME
            VALUE "ProductVersion", VERSIONINFO_VERSION
        END
    END

#if 0
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704b0"
        BEGIN
            VALUE "CompanyName", PROJECT_COMPANY
            VALUE "FileDescription", PROJECT_DESCRIPTION_DE
            VALUE "FileVersion", PROJECT_LONGVERSION
            VALUE "LegalCopyright", PROJECT_COPYRIGHT
            VALUE "ProductName", PROJECT_NAME
            VALUE "ProductVersion", PROJECT_LONGVERSION
        END
    END
#endif

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation"
          ,0x409, 1200
#ifdef 0
          ,0x0407, 1200
#endif
    END
END